/* making webpage responsive */

@media(max-width: 940px)
{
    .nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: .3s;
    }
    

    #click:checked ~ .menu-btn .fa.fa-bars::before{
        content: "\f00d";
    }

    .nav ul li{
        margin: 20px;
    }

    .nav .menu-btn .fa.fa-bars{
        display: block;
    }

    #click:checked ~ ul{
        left: 0%;
    }
}